*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background-color: #fafafa;
}

nav{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}

.container{
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-container{
	height: 100%;
	display: flex;
	align-items: center;
}

.menu{
	height: 100%;
	display: flex;
}

.profile_containter{
	height: 100%;
	width: fit-content;
	display: flex;
	align-items: center;
}

.item{
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 20px;
}


.profile_img{
	border-radius: 50%;
	height: 40%;
}



.timeline{
	width: 50%;
	margin: auto;
}

.post_content{
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	margin-top: 30px;
}

.head{
	height: 7vh;
}

.top{
	height: 100%;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.author{
	display: flex;
	align-items: center;
}

.username{
	font-size: 20px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.author_image{
	height: 40px;
	margin-right: 20px;
}

.profile_post_image{
	height: 100%;
	border-radius: 50%;
}

.post_image{
	width: 100%;
}

.actions{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 10px;
}

.post_info{
	margin: auto;
	width: 95%;
}

.lcs a{
	padding-right: 10px;
}

.total_likes{
	font-size: 18px;
}

.description{
	display: flex;
	margin-top: 10px;
}

.text{
	font-size: 18px;
	margin-left: 10px;
}

.comments{
	margin-top: 10px;
	display: flex;
}

.comment div{
	margin-top: 10px;
	display: flex;
	
}

.comment{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add_comment{
	border-top: 1px solid #e0e0e0;
	height: 6vh;
	margin-top: 10px;
}

.add_comment_form{
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 95%;
	height: 100%;
}

.add_comment_txt{
	width: 85%;
	border: none;
	font-size: 18px;
}

.add_comment_btn{
	width: 15%;
	font-size: 18px;
	border: none;
	background-color: #fff;
	cursor: pointer;
	color: #bfdff4;
	font-weight: bold;
}




.login_content{
	width: 400px;
    
    margin: auto;
    margin-top: 50px;
}

.login{
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
}

.login_logo{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.login_logo img{
    height: 50px;
}



.login_form{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: auto;
}

.login_form input{
    height: 40px;
    margin-top: 5px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.login_form button{
    margin-top: 13px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #bfdff4;
    color: #fff;
}

.login_form_div hr{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
}

.login_form_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form_div p{
    text-align: center;
    width: 70%;
    font-size: 12px;
    padding: 20px;
    color: rgb(98, 98, 98);
}

.login_form_div a{
    margin-top: 40px;
    font-size: 13px;
    text-decoration: none;
    color: #122975;
    margin-bottom: 40px;
}

.register{
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.register p{
    padding: 20px;
    
}

.register a{
    text-decoration: none;
    color: #007dd1;
}

.register_text{
    width: 70%;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(98, 98, 98);
    text-align: center;
}

.profile_head{
	width: 70%;
	margin: auto;
	display: flex;
	margin-top: 30px;
	margin-bottom: 50px;
}

.profile_pic_container{
	width: 150px;
	margin-left: 50px;
	margin-right: 50px;
	
}


.profile_pic{
	width: 100%;
	border-radius: 50%;
}

.profile_info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 40px;
}

.profile_info div{
	display: flex;
	align-items: center;
	height: 80%;
}

.profile_info div h1{
	margin-right: 30px;
	font-weight: 5;
}


.profile_info div button{
	margin-right: 30px;
	height: 30px;
	width: 100px;
	background-color: #fafafa;
	border: 2px solid #f2f2f2;
	border-radius: 4px;
	cursor: pointer;
}

.profile_info div p{
	margin-right: 40px;
	font-size: 18px;
}

.profile_info div a{
	text-decoration: none;
	color: #282828;
}

.posts{
	width: 70%;
	margin: auto;
	margin-top: 30px;
	grid-gap: 2.5rem;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.post_container{
	overflow: hidden;
}

hr{
	width: 70%;
	margin: auto;
}

.post_container img{
	width: 100%;
    height: 100%;
    object-fit: cover;   
}

.blue_button{
	background: #0195f7; 
	color: #fff;
	margin-right: 30px;
	height: 30px;
	width: 120px;
	border: 2px solid #f2f2f2;
	border-radius: 4px;
	cursor: pointer;
}




@media screen and (max-width:1200px){
	.side{
		display: none;
	}

	.timeline{
		width: 100%;
	}
}

