*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background-color: #fafafa;
}

.login_content{
	width: 400px;
    
    margin: auto;
    margin-top: 50px;
}

.login{
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
}

.login_logo{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.login_logo img{
    height: 50px;
}



.login_form{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: auto;
}

.login_form input{
    height: 40px;
    margin-top: 5px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.login_form button{
    margin-top: 13px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #bfdff4;
    color: #fff;
}

.login_form_div hr{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
}

.login_form_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form_div p{
    text-align: center;
    width: 70%;
    font-size: 12px;
    padding: 20px;
    color: rgb(98, 98, 98);
}

.login_form_div a{
    margin-top: 40px;
    font-size: 13px;
    text-decoration: none;
    color: #122975;
    margin-bottom: 40px;
}

.register{
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.register p{
    padding: 20px;
    
}

.register a{
    text-decoration: none;
    color: #007dd1;
}

.register_text{
    width: 70%;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(98, 98, 98);
    text-align: center;
}