{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login_content">
    <div class="login">
        <div class="login_logo">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div>
        <div class="login_form_div">
            <div class="register_text">
                Zarejestruj się, aby przeglądać zdjęcia i filmy znajomych.
            </div>
            <form class="login_form" method="POST">
                {% csrf_token %}
                {{form.email}}
                {{form.first_name}}
                {{form.last_name}}
                {{form.username}}
                {{form.password1}}
                {{form.password2}}
                <button type="submit">Dalej</button>
            </form>
            <p>Rejestrując się, akceptujesz Regulamin. Informacje o tym, jak zbieramy, wykorzystujemy i udostępniamy Twoje dane, zawierają nasze Zasady dotyczące danych. O wykorzystaniu plików cookie i podobnych technologii informują Zasady dotyczące plików cookie.</p>
        </div>
    </div>
    <div class="register">
        <p>Masz konto? <a href="">Zaloguj się</a></p>
    </div>
</div>
{% endblock %}